@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;
}

body {
  @apply antialiased;
}

h1, h2, h3, .serif {
  font-family: var(--font-serif);
}

.mono {
  font-family: var(--font-mono);
}
